.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    color: #fff;
    background-color: #6495ed;
}

.btn-back {
    color: #fff;
    background-color: #a9a9a9;
}